@import "https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css";

.bg-super-white {
  background: #eeeeee;
  color: #222831;
}
.dark {
  color: #222831;
}
.green {
  color: #00ADB5;
}
.title {
  font-size: 16px;
  font-weight: 500;
}
.top-50 {
  top: 50%;
}
.link:hover {
  background: url(/images/line.png) repeat-x left bottom;
}

/* Markdown styles */
.markdown-body a {
  text-decoration: underline;
  color: #222831;
}
.markdown-body .highlighter-rouge {
  padding: 0.25rem 0.5rem;
}
.markdown-body pre {
  margin: 0;
  overflow: auto;
  font-size: 14px;
}
.markdown-body > .highlighter-rouge,
.markdown-body > blockquote {
  padding: 0.5rem 4rem;
  margin: 2em -4rem;
}
.markdown-body > hr {
  margin: 2em -4rem;
  border: 0;
  border-bottom: 1px dotted #ccc;
}
.markdown-body blockquote {
  background: #f9f9f9;
  border-left: 0.2rem solid #ccc;
  padding-left: 3.8rem;
}
/* end Markdown styles */
